<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="../../public/assets/css/burger_style.css" type="text/css" />
		<title>Eat-da-Burger!</title>
		<script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>
		<script  src="../assets/js/burgers.js"></script>
	</head>
	<body>
		<img src="https://www.redrobin.com/content/redrobin/site/en/nav/index/tavern-menu/jcr%3Acontent/centerParsys/responsivegrid/responsivegrid_826483054/responsivegrid_copy_2131621308/image_258938782.img.jpg">
		{{{ body }}}
	</body>
</html>